@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Onest:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  padding-top: 16px;
  font-weight: 500;
  font-style: normal;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-color);
  color: var(--light-color);
}
